*{
margin: 0;
 padding: 0;
}

.class_top{
  width:100%;
  height:100px ;
}

span{
text-align: center;
  
}
  
.class_cab{
  background-image: url("../img/background_cab.png");
  background-size: 100%;
  background-clip: content-box;
  border: 1px solid black;
  margin-left: 3px;
  border-bottom: none;
  width: 270px;
  height: 55px;
}

.class_img{
  margin-left: 2px;
  margin-top: 2px;
  border: 1px solid black;
}

.class_bloco{
  background: #fff;
  border: 1px solid black;
  width: 260px;
  padding: 5px;
  margin-left: 3px;
}

h3{
  text-align: center;
}

.class_cliente{
  width: 143px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 7pt;
  margin-bottom: 4px;
  
}

.class_data{
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 7pt;
}

.class_hr_ent{
  font-size: 7pt;
  margin-bottom: 3px;
}

.class_hr_sai{
  font-size: 7pt;
}

.class_horas{
  width: 180px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 7pt;
  margin-bottom: 3px;
  padding: 2px;
  padding-left: 3px;
}

.class_consumo{
  width: 110px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 7pt;
  margin-bottom: 3px;
  padding: 2px;
  padding-left: 3px;
}

.class_quant{
  width: 60px;
  font-size: 7pt;
  text-align: center;
  
}

.class_valor{
  width: 60px;
  font-size: 7pt;
  padding-left: 3px;
  text-align: center;
}

.class_vt{
  margin-left: 120px;
  margin-bottom: 5px;
  width: 60px;
  font-size: 7pt;
  padding-left: 3px;
}

.class_ob{
  margin-top: 6px;
  width: 245px;
  height: 20px;
  padding: 3px;
  font-size: 7pt;
  border: 1px solid black;
}

.class_print{
  position: fixed;
  background: 3333;
  border-radius: 9px;
  margin-left: 2px;
  margin-top: 8px;
  width: 70px;
  height: 30px;
  color: red;
}


.class_print:hover{
  background: #000000;
  border-radius: 9px;
  margin-left: 1px;
  margin-top: 6px;
  width: 72px;
  height: 34px;
    color: #ffffff;
}

.class_valor_total{
  font-size: 7pt;
  margin-left: 120px;
}

.class_P_valor_total{
  position: absolute;
  margin-top: -16px;
  margin-left: 188px;
  margin-bottom: 5px;
  padding: 1px;
  width: 61px;
  height: 14px;
  font-size: 9pt;
  padding-left: 3px;
  border: 1PX solid black;
  border-radius: 3px;
  text-align: center;
}

.class_bt_limpar{
  position: absolute;
  margin-left: 221px;
  margin-top: 8px;
  width: 55px;
  height: 30px;
  border-radius: 9px;
  color: red;
}


.class_bt_limpar:hover{
  background: black;
  position: fixed;
  margin-left: 219px;
  margin-top: 6px;
  width: 59px;
  height: 34px;
  border-radius: 9px;
  color: #fff;
}


.class_bt_salvar{
  position: fixed;
  background: 3333;
  border-radius: 9px;
  margin-left: 75px;
  margin-top: -10px;
  width: 70px;
  height: 30px;
  color: red;
}

.class_bt_salvar:hover{
  position: fixed;
  background: black;
  border-radius: 9px;
  margin-left: 73px;
  margin-top: -12px;
  width: 74px;
  height: 34px;
  color: #fff;
}

.class_bt_restalrar{
  position: fixed;
  background: 3333;
  border-radius: 9px;
  margin-left: 148px;
  margin-top: -10px;
  width: 70px;
  height: 30px;
  color: red;
}

.class_bt_restalrar:hover{
  position: fixed;
  background: black;
  border-radius: 9px;
  margin-left: 146px;
  margin-top: -12px;
  width: 74px;
  height: 34px;
  color: #fff;
}
























































































@media print{

.class_cab{
  margin-top: 10px;
  margin-left: 10px;
  width: 410px;
  height: 85px;
}



.class_bloco{
  background: #fff;
  border: 1px solid black;
  width: 400px;
  margin-left: 10px;
  padding: 5px;
}

.class_cliente{
  border: 1px solid black;
  border-radius: 4px;
  font-size: 11pt;
  margin-bottom: 7px;
  
}

.class_data{
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 11pt;
}

.class_hr_ent{
  font-size: 11pt;
  margin-bottom: 5px;
}

.class_hr_sai{
  font-size: 11pt;
}

.class_horas{
  width: 309px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 11pt;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 5px;
}

.class_consumo{
  width: 210px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 11pt;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 5px;
}

.class_quant{
  width: 90px;
  font-size: 11pt;
  text-align: center;
  
}

.class_valor{
  width: 60px;
  font-size: 11pt;
  padding-left: 5px;
}

.class_vt{
  margin-left: 320px;
  margin-bottom: 5px;
  width: 60px;
  font-size: 11pt;
  padding-left: 5px;
}

.class_ob{
  width: 385px;
  height: 50px;
  padding: 5px;
  font-size: 11pt;
  border: 1px solid black;
}

.class_print{
  position: fixed;
  background: 3333;
    border-radius: 9px;
  margin-left: 155px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  color: red;
}




.class_top{
	visibility: hidden;
}
	
.class_bt_limpar{
  visibility: hidden;
}

	body{
	background: none;
	}
	
	
	form{
		
	}
	
.class_cab{
    -webkit-print-color-adjust: exact;
}

h1{
  text-align: center;
  opacity : 0.5;
}

.class_print{
	display: none;
	visi
}
	
.class_valor_total{
  position: relative;
  font-size: 11pt;
  margin-left: 50px;
}

.class_P_valor_total{
  width: 100px;
  margin-bottom: 5px;
  font-size: 11pt;
  padding-left: 5px;
}

